<!DOCTYPE html>
<html class="ng-scope" ng-app="app">
	<head>
		<title>PolyLine Edition</title>
		<link rel="stylesheet" href="css/ngeo.css" type="text/css">
    	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    	<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>

	<body class="ng-scope" ng-controller="MainController as ctrl" >
		<div class="panel panel-primary" id ="container">
			<div class="panel-heading">
				<h2 class="panel-title">Draw PolyLine App </h2>
			</div>
			<div id="map" ngeo-map="ctrl.map"></div>
			<div id="controlPanel">
				
			<a href="" translate="" ngeo-btn="" ngeo-createfeature="" ngeo-createfeature-active="ctrl.createPointActive" ngeo-createfeature-features="ctrl.features" ngeo-createfeature-geom-type="ctrl.pointGeomType" ngeo-createfeature-map="::ctrl.map" class="btn btn-default ngeo-createfeature-point ng-valid ng-isolate-scope ng-not-empty ng-dirty ng-touched" ng-class="{active: ctrl.createPointActive}" ng-model="ctrl.createPointActive">Add POI</a>
			<a href="" translate="" ngeo-btn="" ngeo-createfeature="" ngeo-createfeature-active="ctrl.createLineStringActive" ngeo-createfeature-features="ctrl.features" ngeo-createfeature-geom-type="ctrl.lineStringGeomType" ngeo-createfeature-map="::ctrl.map" class="btn btn-default ngeo-createfeature-linestring ng-valid ng-isolate-scope ng-not-empty ng-dirty ng-touched" ng-class="{active: ctrl.createLineStringActive}" ng-model="ctrl.createLineStringActive"> Draw polyline</a>
			</div>
		</div>

		<script src="scripts/jquery.js"></script>
		<script src="scripts/angular.js"></script>
		<script src="scripts/angular-animate.js"></script>
		<script src="scripts/angular-touch.js"></script>
		<script src="scripts/bootstrap.js"></script>
		<script src="scripts/angular-gettext.js"></script>
		<script src="scripts/ngeo.js"></script>
		<script src="app/app.js"></script>
	</body>
</html>